body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    background-color: #F0BB78;
}



.search {
    margin-top: 4px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 14px;
    background-color: #FFF0DC;
    transition: box-shadow 0.25s;
    margin-left: 27%;
    margin-bottom: -40px;
}

    .search:focus-within {
        box-shadow: 0 0 4px rgba(0,0, 0, 0.75);
    }


.search-input {
    font-size: 16px;
    font-family: 'Lexend',sans-serif;
    color: #333333;
    margin-left: 7px;
    outline: none;
    border: none;
    background: transparent;
}


    .search-input::placeholder {
        color: rgb(0, 0, 0,0.5)
    }

.search-icon {
    color: rgb(0, 0, 0,0.5)
}





.bar a {
    float: left;
    padding: 12px;
    color: #543A14;
    text-decoration: none;
    font-size: 17px;
}

    .bar a:hover {
        background-color: #FFF0DC;
        cursor: pointer;
        border-radius: 8px;
    }



.btnLogout {
    background-color: red;
    width: 5em;
    height: 2em;
    left: 50%;
    top: 77%;
    text-align: center;
    font-size: 30px;
    background-color: #DEAA79;
    outline: none;
    border: none;
    font-family: Cursive;
    border-radius: 10px;
    cursor: pointer;
}
.logout-link {
    float: left;
    padding: 12px;
    color: #543A14;
    font-size: 17px;
    text-decoration: none;
}

    .logout-link:hover {
        background-color: #FFF0DC;
        cursor: pointer;
        border-radius: 8px;
    }


.logout-btn {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
}

    .logout-btn:focus {
        outline: none;
    }









@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}
