


#logo {
    transform: translate(-50%, -50%);
    margin-top: 150px;
    position:absolute;
    left:50%;
    padding: 0;
    margin-bottom: -170px;
    width: 20vw;
    height: 30vh;
}

.mainDiv {
    transform: translate(-50%, -50%);
    background-color: #FFF0DC;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 56vw;
    height: 60vh;
    border-radius: 8px;
}

#emailId {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 10em;
    height: 1.4em;
    left: 70%;
    top: 20%;
    font-size: 30px;
    border-radius: 9px;
    background-color: #DEAA79;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 60px;
}

#passwordId {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 10em;
    height: 1.4em;
    left: 70%;
    top: 40%;
    font-size: 30px;
    border-radius: 9px;
    background-color: #DEAA79;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 60px;
}
#firstNameId {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 10em;
    height: 1.4em;
    left: 70%;
    top: 58%;
    font-size: 30px;
    border-radius: 9px;
    background-color: #DEAA79;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 60px;
}





#passH2 {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 76.3%;
    top: 26%;
    font-family: Cursive;
    letter-spacing: 2px;
    color: #543A14;
    font-size: 1.4rem;
    padding-bottom: 15px;
    color: #543A14;
}
#firstNameH2 {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 93%;
    top: 48%;
    width: 350px;
    height: 50px;
    font-family: Cursive;
    letter-spacing: 2px;
    color: #543A14;
    font-size: 1.4rem;
    padding-bottom: 15px;
    color: #543A14;
}

#emailH2 {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 76.3%;
    top: 5%;
    font-family: Cursive;
    letter-spacing: 2px;
    color: #543A14;
    font-size: 1.4rem;
    padding-bottom: 15px;
    color: #543A14;
}
#genderH2 {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 76.3%;
    top: 63%;
    font-family: Cursive;
    letter-spacing: 2px;
    color: #543A14;
    font-size: 1.4rem;
    padding-bottom: 15px;
    color: #543A14;
}




#signUpBtn {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 5em;
    height: 2em;
    left: 50%;
    top: 83%;
    text-align: center;
    font-size: 2rem;
    background-color: #DEAA79;
    outline: none;
    border: none;
    font-family: Cursive;
    border-radius: 10px;
}
#clearBtn {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 4em;
    height: 2em;
    left: 50%;
    top: 95%;
    text-align: center;
    font-size: 1rem;
    background-color: #DEAA79;
    outline: none;
    border: none;
    font-family: Cursive;
    border-radius: 10px;
    
}


#myP {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 83%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #543A14;
}

#acountAsk {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 85%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #543A14;
}



#soloLogo {
    transform: translate(-50%,-50%);
    position: absolute;
    left:23%;
    top:50%;
    width: 30vw;
    height: 55vh;
    
}

#emailId::placeholder {
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #49434340;
}
#firstNameId::placeholder {
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #49434340;
}

#passwordId::placeholder {
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #49434340;
}

#passwordId:focus {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.75);
}
#confPasswordId:focus {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.75);
}

#emailId:focus {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.75);
}

#signUpBtn:hover {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.75);
}
#clearBtn:hover {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.75);
}



.container {
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 76.3%;
    top: 75%;
}

label {
    user-select: none;
}

input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        z-index: 10;
        margin: 0 10px 10px 0;
        position: relative;
        color: #131010;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
        font-weight: bold;
        background-color: #F0BB78;
        cursor: pointer;
        transition: all 200ms ease;
        
    }

    input[type="radio"]:checked + label {
        color: #FFF0DC;
        background-color: #543A14;
    }

    input[type="radio"] + label {
        padding: 5px 20px;
        border-radius: 10px;
    }

