


#logo {
    transform: translate(-50%, -50%);
    margin-top: 150px;
    position: absolute;
    left: 50%;
    padding: 0;
    margin-bottom: -170px;
    width: 20vw;
    height: 30vh;
}

.mainDiv {
    transform: translate(-50%, -50%);
    background-color: #FFF0DC;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 56vw;
    height: 60vh;
    border-radius: 8px;
}

#emailId {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 12em;
    height: 1.4em;
    left: 70%;
    top: 33%;
    font-size: 30px;
    border-radius: 9px;
    background-color: #DEAA79;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 60px;
}

#oldPasswordId {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 12em;
    height: 1.4em;
    left: 70%;
    top: 60%;
    font-size: 30px;
    border-radius: 9px;
    background-color: #DEAA79;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 60px;
}
#newPasswordId {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 12em;
    height: 1.4em;
    left: 54%;
    top: 40%;
    font-size: 30px;
    border-radius: 9px;
    background-color: #DEAA79;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 60px;
}

#oldpassH2 {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 76.3%;
    top: 44%;
    font-family: Cursive;
    letter-spacing: 2px;
    color: #543A14;
    font-size: 1.9rem;
    padding-bottom: 15px;
    color: #543A14;
}
#newpassH2 {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 60%;
    top: 25%;
    font-family: Cursive;
    letter-spacing: 2px;
    color: #543A14;
    font-size: 1.9rem;
    padding-bottom: 15px;
    color: #543A14;
}

#emailH2 {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 76.3%;
    top: 17%;
    font-family: Cursive;
    letter-spacing: 2px;
    color: #543A14;
    font-size: 2rem;
    padding-bottom: 15px;
    color: #543A14;
}


#loginBtn {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 5em;
    height: 2em;
    left: 50%;
    top: 77%;
    text-align: center;
    font-size: 30px;
    background-color: #DEAA79;
    outline: none;
    border: none;
    font-family: Cursive;
    border-radius: 10px;
    cursor: pointer;
}
#changeBtn {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 5em;
    height: 2em;
    left: 58%;
    top: 66%;
    text-align: center;
    font-size: 30px;
    background-color: #DEAA79;
    outline: none;
    border: none;
    font-family: Cursive;
    border-radius: 10px;
    cursor: pointer;
}


#myP {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 83%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #543A14;
}



#soloLogo {
    transform: translate(-50%,-50%);
    position: absolute;
    left: 23%;
    top: 50%;
    width: 30vw;
    height: 55vh;
}

#emailId::placeholder {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #49434340;
}

#oldPasswordId::placeholder {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #49434340;
}

#oldPasswordId:focus {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.75);
}
#newPasswordId::placeholder {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #49434340;
}

#newPasswordId:focus {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.75);
}

#emailId:focus {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.75);
}

#loginBtn:hover {
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.75);
}
