



h2 {
    margin-top: 3em;
    
}



.gallery {
    display: inline-block;
    margin: 10px;
    border-radius: 14px;
    transition: 0.5s;
    width: 200px;
    background-color: #FFF0DC;
}



.gallery:hover {
    box-shadow: 0 0 10px #543A14;
    transform: scale(1.2);
    cursor:pointer
}
    .gallery .discriptin {
        padding: 10px;
        text-align: center;
        font-family: Cursive;
    }

.gallery img {
    width: 100%;
    height: 100%;

}

#logo {
    transform: translate(-50%, -50%);
    margin-top: 150px;
    padding: 0;
    margin-bottom: -170px;
}
#myH2 {
    margin-top: 0;
    font-family: Fantasy;
    letter-spacing: 2px;
    color: #543A14;
    font-size: 40px;
}
#myP {
    color: #543A14;
    font-size: 20px;
    font-weight: 400;
    font-family: Perpetua;
    width: 500px;
    margin-bottom: 100px;
}
#myH3 {
    margin-top: 0;
    font-family: Fantasy;
    letter-spacing: 2px;
    color: #131010;
    font-size: 24px;
    text-decoration:underline;
}

#sideLGrid {
    position: absolute;
    top: 300px;
    left: 25px;
    
}
#sideRGrid {
    position: absolute;
    top: 300px;
    right: 25px;
    
}
#H3Num2 {
    margin-top: 0;
    letter-spacing: 2px;
    color: #131010;
    font-size: 24px;
    margin-bottom: 70px;
}



   



    


   



